@import "reset.css";

:root {
  /* Color */
  --color-white: #fff;
  --color-light-gray: #f0f2f5;
  --color-gray: #8a8d91;
  --color-dark-gray: #6e6e6e;
  --color-blue: #1877f2;
  --color-dark-blue: #166fe5;
  --color-green: #42b72a;
  --color-dark-green: #36a420;
  --border-color: #ccd0d5;

  /* Font size */
  --font-extra: 28px;
  --font-large: 24px;
  --font-medium: 20px;
  --font-regular: 16px;
  --font-small: 14px;
  --font-micro: 12px;

  /* Font weight */
  --weight-regular: 400;
  --weight-bold: 700;

  /* Border radius */
  --radius-light: 4px;
  --radius-bold: 8px;

  /* Transition */
  --transition: 200ms;
}

/* Universal */
* {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: var(--weight-regular);
  letter-spacing: 0.5px;
}
a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}
ul {
  list-style: none;
}

/* Main */
#main {
  display: flex;
  justify-content: center;
  background-color: var(--color-light-gray);
  padding: 130px 40px 195px;
}

/* Left */
.left {
  width: 490px;
  padding-top: 35px;
  padding-right: 90px;
}
.left .logo {
  width: 300px;
  height: auto;
  position: relative;
  left: -25px;
  top: 10px;
}
.left h1 {
  font-size: var(--font-extra);
  line-height: 1.2;
}
.left h1 span {
  font-weight: var(--weight-bold);
}

/* Right */
.right {
  width: 400px;
  border-radius: var(--radius-bold);
}
.right .account {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  padding: 10px 16px 12px;
  border-radius: var(--radius-bold);
  background-color: var(--color-white);
  text-align: center;
}
.right .account input {
  border: 0.1px solid var(--border-color);
  padding: 16px;
  border-radius: var(--radius-light);
  font-size: var(--font-regular);
  margin: 6px 0;
}
.right .account input::placeholder {
  color: var(--color-gray);
}
.right .account input:focus {
  caret-color: var(--color-blue);
  border: 1px solid var(--color-blue);
  outline: 2px solid #e7f3ff;
}
.right .login {
  background-color: var(--color-blue);
  color: white;
  padding: 12px;
  transition: all var(--transition) ease-in-out;
  border-radius: var(--radius-light);
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  margin: 8px 0;
}
.right .login:hover {
  background-color: var(--color-dark-blue);
}
.right .forgot {
  color: var(--color-blue);
  font-size: var(--font-small);
  margin: 12px 0;
}
.right .underline {
  height: 1px;
  margin: 12px 0;
  background-color: var(--color-gray);
  opacity: 0.33;
}
.right .signup {
  color: white;
  width: 35%;
  padding: 16px 8px;
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 12px auto;
  background-color: var(--color-green);
  transition: all var(--transition) ease-in-out;
  border-radius: var(--radius-light);
}
.right .signup:hover {
  background-color: var(--color-dark-green);
}
.right p {
  margin-top: 30px;
  font-size: var(--font-small);
  text-align: center;
}
.right p a {
  font-weight: var(--weight-bold);
}

/* Footer */
#footer {
  max-width: 980px;
  margin: 0 auto;
  padding: 26px 40px;
  font-size: var(--font-micro);
}
#footer ul {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  align-items: center;
  line-height: 1.5;
}
#footer ul li:hover {
  text-decoration: underline;
}
#footer ul li a {
  color: var(--color-gray);
}
#footer .underline {
  height: 1px;
  width: 100%;
  display: block;
  background-color: var(--color-gray);
  opacity: 0.25;
}
.language {
  padding-bottom: 10px;
}
.language li {
  padding-right: 10px;
}
.language li.active {
  color: var(--color-dark-gray);
  text-decoration: none;
}
.more {
  padding: 0 8px;
  font-weight: var(--weight-bold);
  border: 1px solid var(--color-gray);
  border-radius: var(--radius-light);
  font-size: var(--font-regular);
}
.information {
  margin-left: -16px;
  padding: 8px 0;
}
.information li {
  padding-left: 16px;
}
.copyright {
  font-size: 11px;
  margin-top: 16px;
  color: var(--color-dark-gray);
}

/* Media queries */
@media screen and (max-width: 1075px) {
  /* Main */
  #main {
    justify-content: space-between;
  }

  /* Left */
  .left {
    width: 360px;
    padding-right: 40px;
  }
  .left h1 {
    font-size: var(--font-large);
    margin-top: 4px;
  }
}

@media screen and (max-width: 900px) {
  /* Main */
  #main {
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding-bottom: 85px;
  }

  /* Left */
  .left {
    text-align: center;
    padding: 0;
    padding-bottom: 40px;
    width: 390px;
  }
  .left .logo {
    margin: 0 auto;
    left: 0;
  }

  /* Footer */
  #footer {
  }
}
